<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
        <!-- Slide meta data, remove/edit as you see fit -->
        <title>Serve is Awesome!</title>
        <%= render "slippy" %>
    </head>
    <body>
    <header role="banner">
      <h1><a href="/"><%= image "serve-logo" %></a></h1>
    </header>
    <section role="main">
      <article>
        <% if @title.present? %>
          <header><h1><%= @title %></h1></header>
        <% end %>
        <%= yield %>
      </article>
    </section>
    <footer style="position: absolute; bottom: 0;">
      <small>
        <p>Serve is copyright © 2007-2011 John W. Long and Adam I. Williams. Portions have
          been contributed by Robert Evans and others. Serve is distributed under a MIT-style
          license and is open source software. Enjoy!</p>
        <p>Questions? <a href="http://get-serve.com/mailing-list">Join the  mailing list.</a></p>
      </small>
    </footer>
    </body>
</html>

