.slide
  %h1 What is Serve?
  %h2.incremental It's a gem
  %h2.incremental Generates a rack app
  %h2.incremental Has a built in webserver
  %h2.incremental Serves up views
  %h2.incremental 
    %em It's the V, in MVC


.slide
  %h1 What's Serve Used For
  %h2.incremental  Quickly create websites
  %h2.incremental  Quicky mockup apps
  %h2.incremental  Create design/views/layout before app is ready
  %h3.incremental.quiet
    %em A framework for creating views...rails without the model or controller

.slide 
  %h1 Why's it cool
  %h2.incremental Agnostic
  %h2.incremental Use tools you're used to
  %h2.incremental Static or Dynamic
  %h2.incremental Reuse mockups 
  %h2.incremental It's rack
  %h2.incremental Compass/Sass built in
  %h2.incremental Very simple (i.e. routes)

.slide
  %h1 What's it not?
  %h2.incremental Another static site generator
  %h2.incremental Not a rails replacement

.slide 
  %h1 Use Case Examples
  %h2.incremental These slides...
  %h2.incremental Landing page
  %h2.incremental Mockups/Views for apps 
  %h2.incremental Static website/section



.slide
  %h2 Slide 3
.slide
  %h2 Slide 4
