.slide
  %h1 Serve Slides
  %ul
    %li Navigation: [Left]/[Right] arrows to move, [Space] or [Double Click] to go to next slide
    %li Overview: [ESC]/[Del]/[Tab] to view, [Click] to pick one slide
    %li Jump: Press [0-9] keys followed by [Enter] to go straight to one slide
  
.slide
  %h1 Serve Slides 
  %em Presented at:
  %h4 Atlanta Ruby Group
  =link_to "www.atlruby.org", "http://www.atlruby.org"
  %h4 Prepared / Presented by Jess Brown
  %p 
    Website: 
    =link_to "Brown Web Design", 'http://www.brownwebdesign.com'
  %p 
    Twitter:
    =link_to "@BrownWebDesign", 'http://twitter.com/brownwebdesign'
  %p 
    Github: 
    =link_to "www.github.com/jess", 'http://www.github.com/jess'
  %p 
    Facebook:
    =link_to "www.facebook.com/bjessbrown", 'http://www.facebook.com/bjessbrown'


.slide
  %h1 What is Serve?
  %h2.incremental It's a gem
  %h2.incremental Generates a rack app
  %h2.incremental Has a built in webserver
  %h2.incremental Serves up views
  %h2.incremental.quiet 
    %em It's the V, in MVC


.slide
  %h1 What's Serve Used For
  %h2.incremental  Quickly create websites
  %h2.incremental  Quicky mockup apps
  %h2.incremental  Create design/views/layout before app is ready
  %h3.incremental.quiet
    %em A framework for creating views...rails without the model or controller

.slide 
  %h1 Why's it cool
  %h2.incremental Agnostic
  %h2.incremental Use tools you're used to (nothing new to learn)
  %h2.incremental Static or Dynamic
  %h2.incremental Reuse mockups 
  %h2.incremental It's rack

.slide
  %h1 What's it not?
  %h2.incremental Another static site generator
  %h2.incremental Not a rails replacement

.slide 
  %h1 Use Case Examples
  %h2.incremental These slides...
  %h2.incremental Landing page
  %h2.incremental Mockups/Views for apps 
  %h2.incremental Static website/section

.slide
  %h1 How It Works
  %pre
    gem install serve

  %pre 
    serve create my-project

.slide
  %h1 How It Works
  %h2 Modify Gemfile & Bundle
  %pre
    source :rubygems

    gem 'serve', '1.5.1'

    \ # Use Compass and Sass
    \ gem 'compass'
    \ gem 'thin'
    \ gem 'haml'

    \ # Markdown and Textile
    \ # gem 'rdiscount' # Markdown
    \.....


.slide
  %h1 How It Works
  %h2 Open Browser
  %pre open http://localhost:4000


.slide
  %h1 Use
  %h2 Main Directories
  %ul
    %li public (static assets)
    %li stylesheets (sass)
    %li views (all view viles)

.slide
  %h1 Views
  %p
    Place your view files in the views dir.  
  %h2 Routes
  %p 
    \/about is routed to views/about.html.xxxx
  %p 
    Create as many subdirectories as you like
    %pre views/products/mac/imac.html.erb

.slide
  %h1 Partials
  %h2 Same as rails
  %pre =render "footer"

.slide
  %h1 Layouts
  %p 
    Create a **_layout** file in your main views directory.  You can create additional layout files for each directory.  If you don't
    have a layout file in a sub directory, serve will keep looking up.

.slide
  %h1 View helpers
  %p Many of the common view helpers are available (link_to, image_tag, etc)
  %p Crete custom view helpers in the view_helpers.rb file

.slide
  .do_work
    Do Work!

.slide 
  %h2 Get more info
  %p 
    Serve Website:
    =link_to "www.get-serve.com", 'http://get-serve.com'
  %p
    Serve on Github:
    =link_to "github.com/jlong/serve", 'https://github.com/jlong/serve'

  %p 
    Feel free to contact 
    =link_to "me", '#2'
